name: "hello world workflow/pipeline"

on:
  schedule:
    - cron: '3 * * * *'
  workflow_dispatch:

jobs:
  hello_world:
    runs-on: ubuntu-latest
    steps:
      - name: "greet to world"
        run: echo "Hello world"
      - name: "print current time"
        run: echo "current time is $(date)"
